/*Сброс стилей*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: 'Open Sans';
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    display: block;
}

ul,
ol {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.border{
    border: 1px solid red;
}
.wrap {
    max-width: 1600px;
    min-height: 100%;
    margin: 0 auto;
}

.page {
    margin: 0 auto;
}

.header {
    position: relative;
    background-color: #000;
}

.header__img {
    position: relative;
    padding: 0 0 58% 0;
    overflow: hidden;
}

.header__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: .7;
}

.header__head {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    min-width: 100%;
    margin-top: 21px;
    justify-content: space-between;
}

.head__left-block {
    display: flex;
}

.logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo span {
    color: #fa7c30;
}

.nav {}

.menu {
    display: flex;
}

.menu__link,
.login__link,
.chose-plan__btn {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    transition-duration: .2s;
}

.menu__link:hover {
    color: #fa7c30;
    transition-duration: .2s;
}

.head__right-block {
    display: flex;
}

.login {}

.login__menu {
    display: flex;
}

.login__link:hover {
    color: #fa7c30;
    transition-duration: .2s;
}

.chose-plan__btn {
    width: 121px;
    height: 39px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    cursor: pointer;
}

.chose-plan__btn:hover {
    border: 2px solid #fa7c30;
    color: #fa7c30;
    transition-duration: .2s;
}

.banner__info {}

.banner__title {}

.banner__subtitle {}

.main-btn {}

.online-booking {}

.container {}

.booking-form__wrap {}

.booking-form__img {}

.booking-form__inner {}

.form__uptitle {}

.form__title {}

.welcome {}

.welcome__block {}

.welcome__info {}

.section__title {}

.welcome__img {}

.programm {}

.section__subtitle {}

.programm__block {}

.programm__item {}

.item__img {}

.item__title {}

.personal-trainer {}

.personal-trainer__img {}

.personal-trainer__uptitle {}

.personal-trainer__title {}

.team {}

.team__block {}

.team__persona {}

.persona__img {}

.persona__name {}

.persona__specializatin {}

.persona__about {}

.footer__banner {}

.banner {}

.banner__uptitle {}

.footer {}

.footer__block {}

.about {}

.block__social {}

.social__title {}

.social__icon {}

.blogs {}

.footer__title {}

.block__blogs {}

.blogs__item {}

.blogs__img {}

.blogs__text {}

.instagram {}

.block__instagram {}

.instagram__img {}

.more {}

.copy {}