/*Сброс стилей*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: 'Open Sans';
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    display: block;
}

ul,
ol {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

.wrap { }
.page { }
.header { }
.header__img { }
.header__head { }
.head__left-block { }
.logo { }
.nav { }
.menu { }
.menu__link { }
.head__right-block { }
.login { }
.login__menu { }
.login__link { }
.chose-plan__btn { }
.banner__info { }
.banner__title { }
.banner__subtitle { }
.main-btn { }
.online-booking { }
.container { }
.booking-form__wrap { }
.booking-form__img { }
.booking-form__inner { }
.form__uptitle { }
.form__title { }
.welcome { }
.welcome__block { }
.welcome__info { }
.section__title { }
.welcome__img { }
.programm { }
.section__subtitle { }
.programm__block { }
.programm__item { }
.item__img { }
.item__title { }
.personal-trainer { }
.personal-trainer__img { }
.personal-trainer__uptitle { }
.personal-trainer__title { }
.team { }
.team__block { }
.team__persona { }
.persona__img { }
.persona__name { }
.persona__specializatin { }
.persona__about { }
.footer__banner { }
.banner { }
.banner__uptitle { }
.footer { }
.footer__block { }
.about { }
.block__social { }
.social__title { }
.social__icon { }
.blogs { }
.footer__title { }
.block__blogs { }
.blogs__item { }
.blogs__img { }
.blogs__text { }
.instagram { }
.block__instagram { }
.instagram__img { }
.more { }
.copy { }